body{
	padding: 0;
	margin: 0;
	background-color: #F3FCFF;
}

article{
	padding: 50px;
}

article h1{
	margin-top: 0;
	margin-top: 10rem;
}

#article-elements{
	width: 100%;
	display:flex;
	flex-direction: row;
}

#left-report-list{
	width: 85%;
}

#add-button, #edit-button{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

#add-button:hover, #edit-button:hover{
	cursor: pointer;
}

#add-button:active, #edit-button:active{
	-webkit-box-sizing: border-box;
	background-color: white;
	border: 5px solid #87ceeb;
}


#report-table{
	width: 90%;
	table-layout: fixed;
	text-align: center;
}

#report-table, #report-table th, #report-table td {
  border: 1px solid black;
  border-collapse: collapse;
}

#report-table th{
	height: 50px;
}

#report-table td{
	height: 40px;
}

.selectedRow{
	background-color: #87b5eb;
	color: white;
}

#right-btns{
	width: 15%;
	display: flex;
	flex-direction: column;
	align-items: center;
}