body{
	padding: 0;
	margin: 0;
	background-color: #F3FCFF;
}

article{
	padding: 50px;
	margin-top: 10%;
}

article h1{
	margin-top: 0;
}

#admin-panel{
	margin: 10px;
}

.panel-selection-container {
	padding: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 70%;
	margin: 0 auto;
}

.panel-items{
	width: 250px;
	height: 250px;
	color: white;
	margin: 5px;
	font-weight: bold;
	font-size: 1.2em;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	flex: 1 1 30%;
	
	/*https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting*/
	/*stop users from selecting the elements accidentality*/
	-webkit-touch-callout: none; /*IOS*/
    -webkit-user-select: none;   /*Safari*/
	-khtml-user-select: none;    /*Konqueror HTML*/
    -moz-user-select: none;      /*Firefox(oldversion)*/
    -ms-user-select: none;       /*IE*/
    user-select: none;           /*Chrome, Opera, Firefox*/
}

.panel-items:hover{
	outline: 3px solid grey;
	outline-style: thick;
	outline-offset: 1px;
	cursor: pointer;
}

.panel-items i{
	font-size: 60px;
	margin-top: 10px;
}

.panel-items .title {
	margin: 5px;
	font-size: 20px;
	font-weight: bold;
}

.panel-items i, .panel-items .title{
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
}

.color1{
	background: #87ceeb;
}

.color2{
	background: #76e897;
}

.color3{
	background: #eb87ce;
}

.color4{
	background: #eba487;
}

.color5{
	background: #c5ace8;
}

.color6{
	background: #bcbcbc;
}

.description{
	font-size: 16px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 5px;
}