body{
	padding: 0;
	margin: 0;
	background-color: #F3FCFF;
}

h1{
	text-align: center;
}

article{
	padding: 50px;
}

#article-elements{
	width: 100%;
	display:flex;
	flex-direction: row;
}

#left-transaction-list{
	width: 85%;
}

#add-button, #edit-button{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

#add-button:hover, #edit-button:hover{
	cursor: pointer;
}

#add-button:active, #edit-button:active{
	-webkit-box-sizing: border-box;
	background-color: white;
	border: 5px solid #87ceeb;
}


#transaction-table{
	width: 100%;
	table-layout: fixed;
	text-align: center;
}

#transaction-table, #transaction-table th, #transaction-table td {
  border: 1px solid black;
  border-collapse: collapse;
}

#transaction-table th{
	height: 50px;
}

#transaction-table td{
	height: 40px;
}

.selectedRow{
	background-color: #87b5eb;
	color: white;
}

#right-btns{
	width: 15%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Dropdown Button */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

@media only screen and (max-width: 800px) {
	body{
		margin-bottom: 10rem;
	}
}