body{
	padding: 0;
	margin: 0;
	background-color: #F3FCFF;
}

article{
	padding: 50px;
	display: flex;
	flex-direction: row;
}

h1{
	text-align: center;
	margin-top: 12rem;
}

.table-group{
	width: 85%;
}

.theTables{
	display:none;
	width: 100%;
	table-layout: fixed;
	text-align: center;
}

.catTitleBox{
	display:block;
}

.catTitles{
	border: 2px solid black;
	padding: 1%;
	display: inline-block;
}

.catTitles:hover{
	cursor: pointer;
	background-color: #87b5eb;
	border: 2px solid yellow;
}

.tableBtn .tooltip-text{
	visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 110%;
  left: 50%;
  margin-left: -60px;
}

.tableBtn .tooltip-text::after{
	content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tableBtn:hover .tooltip-text{
	visibility: visible;
}

.catTitles:active{
	border: 2px solid red;
}

.table-group table, .table-group th, .table-group td{
	border: 1px solid black;
	border-collapse: collapse;
}

.table-group th{
	height: 50px;
}

.table-group td{
	height: 40px;
}

.selectedRow{
	background-color: #87b5eb;
	color: white;
}

.menu-buttons{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.menu-buttons .tooltip-text{
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	top: -5px;
	right: 110%;
}

.menu-buttons .tooltip-text::after{
	content: "";
	position: absolute;
	top: 50%;
	left: 100%;
	margin-top: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent transparent black;
}

.menu-buttons:hover .tooltip-text{
	visibility: visible;
}

.modal{
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
}

#feedback-msg{
	margin-left: 15%;
	font-style: italic;
	font-size: 125%;
	text-align: center;
}

@media only screen and (max-width: 800px) {
	body{
		margin-bottom: 6rem;
	}
	
	h1{
		text-align: center;
	}
	
	.menu-buttons .tooltip-text{
		visibility: hidden;
		width: 120px;
		background-color: black;
		color: #fff;
		text-align: center;
		border-radius: 6px;
		padding: 5px 0;
		position: absolute;
		z-index: 1;
		bottom: 2000%;
		left: 50%;
		margin-left: -60px;
	}

	.menu-buttons .tooltip-text::after{
		content: "";
		position: absolute;
		top: 100%;
		left: 50%;
		margin-left: -5px;
		border-width: 5px;
		border-style: solid;
		border-color: black transparent transparent transparent;
	}

	.menu-buttons:hover .tooltip-text{
		visibility: hidden;
	}
}